| CACHE MANIFEST

| # Bump this with each release:
| # Serial number 20160915942

| /js/main.js
| /js/jgestures.min.js
| /css/style.css
| /css/images/icons-18-white.png
| /images/apple-touch-icon.png
| /images/atv.png
| /images/home.png
| /images/music.png
| /images/ps3.png
| /images/tv.png
| /images/xbmc.png
| /images/apple-touch-icon.png
| /sounds/button.mp3


| NETWORK:
| *